{% extends 'b.html' %}

{% block style %}
  {% if not user.is_authenticated %}
    <style>
    
  label {
    margin-bottom: 5px;
    display: inline-block;
  }
  input {
      width: 300px;
      padding: 12px 15px;
      margin: 10px 0;
      display: inline-block;
      border: 2px solid #ccc;
      border-radius: 8px;
      box-sizing: border-box;
      font-size: 16px;
      transition: border-color 0.3s ease;
    }
  
    input:focus {
      border-color: #0078D7; /* Microsoft blue */
      outline: none;
      box-shadow: 0 0 8px rgba(0, 120, 215, 0.3);
    }

</style>

{% else %}
    <style>
        .inputs{
            display: none;
        }
    </style>

  {% endif %}
{% endblock %}

{% block content %}
  <h2>Forgot Password 🔐</h2>
  <form method="POST">
    {% csrf_token %}
    {% if not user.is_authenticated %}
    <div class="inputs">
        <label for="email">Enter your email:</label><br>
        <input type="email" id="email" name="email" placeholder="you@example.com" required>
    </div>        
    {% else %}
        
    {% endif %}
    <p>Get a code to change password</p>
    <button type="submit">Send OTP</button>
    <p>We’ll send a code to <strong>{{ user.email }}</strong> to verify your email.</p>
  </form>
{% endblock %}
